body {
    margin: 0px;
    font-family: Calibri;
    font-weight: lighter;
    font-size: 1.1em;
    color: #353535
}

p {
    line-height: 1.6em;
    text-align: left;
}

#header {
    text-align: center;
}

#header h1 {
    font-size: 2.8em;
    font-weight: lighter;
    color: #686868;
    letter-spacing: 5px
}

#navbar {
    margin: 15px 0px;
    text-align: center;
    padding: 0px 20%
}

#navbar ul {
    padding: 15px 0px;
    margin: 0px;
    border-bottom: 2px red solid;
    
}

#navbar li {
    display: inline-block;
    margin: 0px 10px
}

#navbar a {
    color: #353535;
    text-decoration: none;
}

#navbar a:hover {
    color: red;
}

#navbar .current {
    color: red;
}

#article {
    max-width: 800px;
    margin: auto;
    padding: 20px 10%;
}

.roundImg {
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 30%;
    width: 20%;
    margin-right: 20px;
    float: left
}


#footer {
    height: 60px;
    padding: 10px;
}

@media (min-width: 768px) and (max-width: 980px) {

}

@media (max-width: 767px) {
    body {
        font-weight: normal;
    }
    #header h1 {
        font-size: 1.1em;
        letter-spacing: 5px;
    }
    .roundImg {
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 30%;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
     
}